@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --color-text: #fdffee;
  --color-subtext: #d5d5d5;
  --text-secondary: #ffe08b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary);
}

.buttons {
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background: buton;
  width: 200px;
  height: 50px;
}

.buttons:hover {
  background: var(--text-secondary);
}
